.cartItem img{
    height: 180px;
}
.container{
    padding: 30px;
    display: grid;
    grid-template-columns: 1fr 300px;
    background: #eaeded;
    height: 100vh;
}
.container>section{
    padding: 10px;
    background-color: #ffffff;
    height: fit-content;
    border-radius: 5px;
}
.container>.shoppingCart>div:nth-child(1){
    display: grid;
    grid-template-columns: 1fr 70px;
    margin-bottom: 10px;
}
.shoppingCart>div:nth-child(1) p{
    display: flex;
    align-items: flex-end;
}
.cartItem{
    display: grid;
    grid-template-columns: 200px 1fr 70px;
    padding: 20px;
    border-bottom: 1px solid rgb(174, 174, 174);
}
.cartItem h3{
    font-weight: 500;
}
.cartItem>div>p:nth-child(2){
    color: #007600;
    font-size: 15px;
}
.cartItem>div:nth-child(3) p{
    font-size: 19px;
    font-weight: 500;
    text-align: end;
}
.itemOptions{
    font-size: 14px;
}
.itemOptions>div:nth-child(2){
    color: #0066C0;
    display: flex;
    flex-flow: row wrap;
}
.itemOptions>div:nth-child(2)>p{
    margin-right: 10px;
    border-right: 1px solid #0066C0;
    padding: 0px 5px;
    cursor: pointer;
}
.container .orderSummary{
    border: none;
   margin-left: 10px;
   height: 200px;
   
}
.orderSummary h2{
    text-align: center;
    padding: 10px 0px;
}
.orderSummary>div:nth-child(2){
    padding: 10px;
}
.orderSummary>div:nth-child(2) span{
    font-weight: 700;
    font-size: 18px
}
#giftOpc{
    margin-top: 30px;
}
.orderSummary label{
    font-size: 14px;
    margin-left: 5px;
}
.orderSummary>div:nth-child(2)>div:nth-child(3){
    text-align: center;
    padding: 10px;
}
#orderCheckout{
    width: 220px;
    padding: 8px;
    border: none;
    background: #ffd814;
    border-radius: 6px;
}
